

<h3>Accessibility Statement</h3>

<p>Access keys provide ease of navigation for visually impaired people and users who struggle navigating with a mouse.
<br> With this in mind the following access keys were created to allow users to navigate through the site at the touch of a short key.

<br>
<br> Depending on the user each operating system is different and the following short keys are used to get the following pages. 
<br>
<br> Internet Explorer: Press Down Key "Alt" including...<br>
<br> Mac: Press Down Key "Ctrl" including...<br>
<br> Firefox: Press Down Keys "Alt" and "Shift" including...<br>
<br>
<br> 1. Home Page
<br> 2. New Asset
<br> 3. Sitemap Page
<br> 0. Accessibility Page

</p>

